/*  FONTS  */
@font-face {
	font-family: "Source Sans Pro";
	src: url("images_fonts/source_sans_pro/SourceSansPro-Regular.otf");
}
/*  END OF FONTS  */

/*  ?  */
body {
	margin: 0;
}

.background_image {
	background-image: url(images_fonts/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.keyword {
	color: #C271FF;
}
/*  END OF ?  */


/*  HEADER  */
.header {
	position: relative;
	display: flex;
	margin-left: 170px;
	margin-right: 170px;
	padding-top: 30px;
}

.logo {
	flex: 1 1 auto;
}

.menu {
	display: inline-flex;
	gap: 53px;
	justify-content: flex-end;
	align-items: center;
}

.menu-nav {
	color: white;
	font-size: 12px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	word-wrap: break-word;
	text-decoration: none;
}
/*  END OF HEADER  */


/*  SECTION ONE  */
.section_one {
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	color: white;
	word-wrap: break-word;
}

.section_one h1 {
	font-size: 120px;
	font-weight: bold;
	margin-top: 160px;
	margin-bottom: 0px;
}

.words {
	font-size: 16px;
	font-weight: 700;
	display: inline-flex;
	gap: 58px;
	align-items: center;
	margin-bottom: 60px;
}

.section_one button {
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.50);
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 500;
	width: 190px;
	height: 50px;
	background-color: #C271FF;
	border-radius: 30px;
	border-style: none;
	color: white;
	margin-bottom: 168px;
}

.section_one div .sentence {
	font-size: 32px;
	margin-bottom: 90px;
}

.the_pros {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 150px;
	padding-bottom: 50px;
}

.pro {
	width: 150px;
	word-wrap: break-word;
}

.pro h6 {
	font-size: 18px;
	font-weight: 900;
}

.pro p {
	font-style: italic;
	font-weight: 400;
}
/*  END OF SECTION ONE  */


/*  START OF SECTION TWO  */
.section_two {
	background-color: #C271FF;
	padding-top: 80px;
	padding-bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 22px;
	word-wrap: break-word;
}

.section_two div {
	margin-left: 40px;
	width: 700px;
}

.section_two div .name {
	margin-bottom: 0px;
	font-weight: 700;
}

.section_two div .profession {
	margin-top: 0px;
	font-style: italic;
}
/*  END OF SECTION TWO  */


/*  START OF SECTION THREE  */
.section_three {
	word-wrap: break-word;
	font-family: "Source Sans Pro", sans-serif;
	color: #071629;
}

.section_three .sentence {
	text-align: center;
	font-size: 32px;
	margin-top: 80px;
	margin-bottom: 80px;
}

.tutorials {
	margin: 40px 80px 80px;
	display: flex;
	justify-content: space-around;
}

.tutorial {
	width: 255;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
}

.tutorial_preview {
	width: 255px;
	height: 154px;
	position: relative;
}

.thumbnail {
	position: absolute;
	z-index: 0;
}

.play_button {
	position: absolute;
	z-index: 1;
	left: 95px;
	top: 45px;
}

.tutorial_title {
	font-size: 16px;
	font-weight: 700;
}

.tutorial_description {
	color: rgba(7, 22, 41, 0.50);
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.reviews {
	color: #C271FF;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
}

.reviews p {
	font-size: 14px;
	font-weight: 600;
	line-height: 27px;
}

.phil_review {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.phil_review img {
	width: 30px;
	height: 30px;
}

.overall_review {
	width: 255px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
/*  END OF SECTION THREE  */


/*  START OF SECTION FOUR  */
.section_four {
	text-align: center;
	background-color: #071629;
	color: white;
	font-family: "Sourse Sans Pro", sans-serif;
	word-wrap: break-word;
}

.section_four .sentence {
	font-size: 32px;
	font-weight: 300;
	padding-top: 70px;
	margin-bottom: 50px;
}

.options {
	margin: 80px 100px 90px;
	display: flex;
	justify-content: space-around;
}

.option {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section_four button {
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.50);
	font-size: 14px;
	font-weight: 500;
	width: 190px;
	height: 50px;
	background-color: #C271FF;
	border-radius: 30px;
	border-style: none;
	color: white;
	margin-bottom: 80px;
}
/*  END OF SECTION FOUR  */


/*  START OF SECTION FIVE  */
.section_five {
	color: #071629;
	font-family: "Sourse Sans Pro", sans-serif;
	word-wrap: break-word;
}

.faq_header {
	text-align: center;
	font-size: 60px;
	font-weight: 300;
}

.row {
	margin: 50px 130px 80px;
	display: flex;
	justify-content: space-around;
}

.row .q_a {
	width: 350px;
}

.question {
	font-size: 16px;
	font-weight: 700;
}

/* rename to .answer */
.answer {
	color: rgba(7, 22, 41, 0.50);
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
/*  END OF SECTION FIVE  */


/*  START OF FOOTER  */
footer {
	background-color: #071629;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 95px 100px 70px;
}

footer p {
	padding-bottom: 40px;
	margin-bottom: 0px;
	text-align: center;
	opacity: 0.35;
	color: white;
	font-size: 12px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	word-wrap: break-word;
}
/*  END OF FOOTER  */
