/*  HEADER  */
header {
	width: 100%;
	height: 100%;
	position: relative;
}

.logo {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}

.menu {
	width: 100%;
	height: 100%;
	right: 0px;
	top: 2px;
	position: absolute;
	justify-content: center;
	align-items: flex-start;
	gap: 53px;
	display: inline-flex;
}

.menu-nav {
	color: white;
	font-size: 12px;
	font-family: "Source Sans Pro";
	font-weight: 700;
	word-wrap: break-word;
}
/*  END OF HEADER  */
