/*  FONTS  */
@font-face {
	font-family: "Source Sans Pro";
	src: url("images_fonts/source_sans_pro/SourceSansPro-Regular.otf");
}
/*  END OF FONTS  */

body {
	margin: 0;
}

.background_image {
	background-image: url(images_fonts/background.png);
	background-repeat: no-repeat;
	background-size: auto;
}

/*  HEADER  */
.header {
	position: relative;
	display: flex;
	margin-left: 170px;
	margin-right: 170px;
}

.logo {
	flex: 1 1 auto;
}

.menu {
	display: inline-flex;
	gap: 53px;
	align-items: flex-end;
}

.menu-nav {
	color: white;
	font-size: 12px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	word-wrap: break-word;
	text-decoration: none;
}
/*  END OF HEADER  */


/*  SECTION ONE  */
.section_one {
	text-align: center;
}
/*  END OF SECTION ONE  */
